*{
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.topnav-container{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85px;
  margin-top: 30px;
}

.mainlogo{
  position: relative;
  width: 94px;
  height: 85px;
}

.topnav{
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}

.topnav a {
  color: rgb(46, 43, 43);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(46, 43, 43);
  font-weight: bold;
}

.row{
  display: flex;
}

.text-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  padding-right: 20px;
  line-height: 1.5;
}

.text-icon{
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 30px;
}

.col2{
  display: flex;
  background-color: rgba(255, 248, 248, 0.952);
  padding: 30 120 70 120;
  text-align: center;
}

.col23{
  display: flex;
  width: 66%;
  align-items: center;
  justify-content: center;
}

.col13{
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
}

.child-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img{
  width: 100%;
}

.img-logo{
  position: absolute;
  display: inline-block;
  align-items: center;
}
