*{
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body-1{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.body-2{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.body-3{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.row-one-left{
  flex: 2;
}

.row-one-right{
  flex: 1;
}

.row-two-left{
  flex: 1;
}

.row-two-right{
  flex: 2;
}
.third-row-one {
  flex: 1
  
}

.third-row-two {
  flex: 1
}

.third-row-three{
  flex: 1
}

.small-text{
  align-content: center;
  text-align: center;
  line-height: 1.5;
  padding: 40 50 52 40;
}

img{
 max-width: 100%;
}

.break{
  flex-basis: 100%;
  height: 0;
  margin-top: 0;
}
.image{
  align-self: flex-end;
}